[[extend 'layout.html']]

<div class="container">
    <div class="container">
        <div class="block has-text-centered">
          <h1 class="title">Rate the Rift</h1>
          <h2 class="subtitle">A League of Legends Player Rating App</h2>
        </div>
        <form method="POST" href="[[=search_user()]]">
          <div class="field has-addons">
            <div class="control"></div>
            <div class="control is-expanded">
              <input class="input" type="text" name="username" placeholder="username" />
            </div>
            <div class="control">
              <button class="button is-info" type="submit">Search</button>
            </div>
          </div>
        </form>
      </div>

  <div class="columns">
    <div class="column is-one-third">
      <div class="box has-text-centered">
        <h3>Overall Rating:</h3>
        <h3><b>[[=overall_rating]]</b></h3>
      </div>
      <label>Personality</label>
      <progress
        class="progress is-primary"
        value="[[=personality_rating]]"
        max="5"
      >
        [[=personality_rating]]
      </progress>
      <label>Performance</label>
      <progress
        class="progress is-warning"
        value="[[=performance_rating]]"
        max="5"
      >
        [[=performance_rating]]
      </progress>
      <label>Tilt</label>
      <progress class="progress is-danger" value="[[=tilt_rating]]" max="5">
        [[=tilt_rating]]
      </progress>
    </div>

    <div class="column">
      <div class="box">
        <h1 class="title is-4">Scores</h1>
        <div class="columns">
          <div class="column">
            <p>
              <b>[[ =bold_user["username"] ]]:</b>
            </p>
            [[ for statline in stats_col_1:]]
            <p>[[ =statline["username"] ]]:</p>
            [[ pass ]]
          </div>
          <div class="column">
            <p>
              <b>[[ =bold_user["stats"] ]]</b>
            </p>
            [[ for statline in stats_col_1:]]
            <p>[[ =statline["stats"] ]]</p>
            [[ pass ]]
          </div>
          <div class="column">
            [[ for statline in stats_col_2:]]
            <p>[[ =statline["username"] ]]</p>
            [[ pass ]]
          </div>
          <div class="column">
            [[ for statline in stats_col_2:]]
            <p>[[ =statline["stats"] ]]</p>
            [[ pass ]]
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
